.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(13, 14, 15, 0.9);
  color: #ddd;
  backdrop-filter: blur(6px);
  z-index: 99;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.navbar .navbar-brand {
  line-height: 1;
}
.navbar .navbar-brand h2 {
  font-size: 1.65rem;
  line-height: 1.2;
  font-weight: 700;
  color: #00dbde;
  background: linear-gradient(0deg, #00dbde, #fc00ff);
  background: -webkit-linear-gradient(0deg, #00dbde, #fc00ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-nav {
  display: flex;
  /* gap: 10px; */
}

.navbar-nav .nav-link {
  font-size: 14px;
  line-height: 1;
  color: inherit;
  padding: 1rem 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  overflow: hidden;
  transition: 0.3s all;
  /* border-radius: 0.8rem; */
  background-color: #1c1c1c;
  box-shadow: inset 2px 0px 12px -3px rgba(0,0,0,0.8),inset -1px -4px 4px -3px rgba(0,0,0,0.4),inset -2px 0px 0px -3px rgba(0,0,0,0.5);
}
.navbar-nav .nav-link:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}
.navbar-nav .nav-link:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}
.navbar .menu-btn {
  width: 3rem;
  height: 3rem;
  background-color: #0004;
  padding: 0.5rem;
  border: none;
  color: inherit;
  display: none;
  transition: all 0.4s;
}

.navbar .menu-btn .bars-icon {
  width: 2rem;
  height: 2rem;
}
.navbar-nav .nav-link .nav-icon {
  height: 18px;
  width: auto;
  color: inherit;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  background-color: #1f1d1d;
  box-shadow: inset 4px 4px 0 -3px rgba(255,255,255,0.15),inset 0px -4px 0px -3px rgba(255,255,255,0.25),inset 7px 10px 9px -3px rgba(255,255,255,0.06);
}

.navbar-nav .nav-link:hover ~ .navbar-nav .nav-link svg {
  fill: #00dbde;
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 1.5rem;
  }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: max-content;
    background: rgba(0, 0, 0, 0.886);
    backdrop-filter: blur(6px) !important;
    position: absolute;
    right: -100%;
    top: 76px;
    opacity: 0;
    z-index: 99;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 1rem;
  }
  .navbar-nav.show {
    opacity: 1;
    right: 0%;
  }
  .navbar-nav .nav-link {
    color: #fff;
    border-radius: .5rem !important;
  }

  .navbar .menu-btn {
    display: block;
  }
}
