#works {
  /* height: 100vh; */
  background-color: #0d0d0d;
  overflow: hidden;
}

#works .works-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
#works .works-wrap .swiper {
  display: block;
  max-width: 400px;
  /* max-height: max-content; */
  width: 100%;
  height: auto;
  margin-block: 5% 10%;
}

#works .works-wrap .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 14px;
  /* outline: 3px solid rgb(255, 255, 255); */
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
}

#works .works-wrap .wrapper .project-text-wrap {
  padding: 1rem 1rem 0 1rem;
}

#works .works-wrap .wrapper .project-link {
  font-size: 0.9rem;
  display: block;
  width: 100%;
  height: 3rem;
  margin-top: auto;
  /* text-decoration: underline; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.37);
  box-shadow: inset 2px 0px 12px -3px rgba(0, 0, 0, 0.6),
    inset -1px -4px 4px -3px rgba(0, 0, 0, 0.3),
    inset -2px 0px 0px -3px rgba(0, 0, 0, 0.3);
  border-radius: 0.65rem;
}
#works .works-wrap .wrapper .project-link:hover {
  text-decoration: none;
  background-color: rgba(20, 20, 20, 0.792);
  box-shadow: inset 4px 4px 0 -3px rgba(255, 255, 255, 0.1),
    inset 0px -4px 0px -3px rgba(255, 255, 255, 0.2),
    inset 7px 10px 9px -3px rgba(255, 255, 255, 0.04);
}

#works .works-wrap .wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, auto));
  gap: 2rem;
  place-content: center;
}

@media (max-width: 992px) {
  #works .works-wrap .wrapper {
    grid-template-columns: repeat(2, minmax(240px, auto));
  }
}

@media (max-width: 567px) {
  #works .works-wrap .wrapper {
    grid-template-columns: repeat(1, minmax(240px, auto));
  }
}

.project-card {
  max-width: 400px;
  background-color: var(--black);
  background: linear-gradient(to top, var(--black), #1d1d1d) padding-box,
    linear-gradient(135deg, transparent 10%, #f441a5, #03a9f4) border-box;
    background-size: 150% 100%;
  transition: all 0.4s;
  border: 3px solid transparent;
  padding: 10px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-card img {
  width: 100%;
  border-radius: 0.8rem;
}
.project-card h2 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--body);
}
.project-card p {
  font-weight: 400;
  font-size: 0.85rem;
  color: #fff8;
  line-height: 1.5;
}
.project-card:hover {
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 150% 50%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 150% 50%;
  }
}
