#root {  
  margin: 0 auto;
}

.container{
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.mr-1{margin-right: 1rem;}
.ml-1{margin-left: 1rem;}
.mt-1{margin-top: 1rem;}
.mb-1{margin-bottom: 1rem;}
a{
  text-decoration: none;
  color: inherit;
  display: block;
}
a:hover {
  cursor: url('/images/click.png'), pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: var(--heading);
  font-weight: normal;
}
button {
  font-size: inherit;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  border-radius: .8em;
}
.icon {
  width: 18px;
  height: 18px;
  color: inherit;
}
.w-full{width: 100%;}
.w-auto{width: auto;}
.w-screen{width: 100vw;}
.w-half{width: 50%;}
.h-full{height: 100%;}
.h-auto{height: auto;}
.h-screen{height: 100vw;}
.h-half{height: 50%;}
.block{display: block;}
.flex {display: flex!important;}
.flex-wrap{flex-wrap: wrap;}
.f-col{flex-direction: column;}
.f-row{flex-direction: row;}
.f-col-r{flex-direction: column-reverse;}
.f-row-r{flex-direction: row-reverse;}
.jc{justify-content: center!important;}
.ja{justify-content: space-around!important;}
.je{justify-content: space-evenly!important;}
.jb{justify-content: space-between!important;}
.ac{align-items: center!important;}
.as{align-items: flex-start;}
.ae{align-items: flex-end;}

.grid{display: grid;}
.g-col-2 {grid-template-columns: repeat(2, 1fr);}
.g-col-3 {grid-template-columns: repeat(3, 1fr);}
.g-col-4 {grid-template-columns: repeat(4, 1fr);}
.pcc{place-content: center;}

.gap-1{gap: 1rem;}
.gap-2{gap: 2rem;}
.gap-3{gap: 3rem;}

.section-title{
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  position: relative;    
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 1px;
  background: var(--btn-gradient);
  z-index: 4;
}

.btn-container {
  width: fit-content;
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.9em;
  transition: all 0.4s ease;
  z-index: 2;
}

.btn-container::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -1!important;
  filter: blur(0);
  transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}

.btn-container .my-btn {
  display: block;
  font-size: 1.2em;
  padding: 1em 2em;
  font-weight: 500;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: url('/images/click.png'), pointer;
  box-shadow: 1px 1px 3px #000000b4;
}

.btn-container:hover::before {
  /* transform: rotate(360deg); */
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  filter: blur(1em);
}
.btn-container:active::before {
  filter: blur(0.2em);
}




section {
  padding: 4rem 0;
}


@media (min-width : 576px) {
  
  section {
    padding: 5rem 0;
  }
  .container {
      max-width: 540px;
  }
}
@media (min-width : 768px) {  
  section {
    padding: 5rem 0;
  }
  .section-title{
    font-size: 3rem;
    line-height: 1.2;    
  }
  .container {
      max-width: 720px;
  }
  .btn-lg {    
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
  .lg-f-col{flex-direction: column;}
  .lg-f-row{flex-direction: row;}
  .lg-f-col-r{flex-direction: column-reverse;}
  .lg-f-row-r{flex-direction: row-reverse;}
}
@media (min-width : 992px) {
  .container {
      max-width: 960px;
  }
  
}
@media (min-width : 1440px) {
  .container {
      max-width: 1200px;
  }
}


/*  Success & Error Card Styles  */
.card-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.745);
  display: grid;
  place-content: center;
  z-index: 10;
}
.card {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  border-radius: 1rem;
  transition: all 0.3s;
}
.card.success {
  background-color: rgba(100, 205, 139, 0.064);
  border: 1px solid rgba(73, 168, 108, 0.3);
}
.card.error{
  background-color: rgba(234, 46, 74, 0.067);
  border: 1px solid rgba(234, 46, 74, 0.3);
}
.success svg {
  stroke: rgba(100,205,138,1);
}
.error svg {
  stroke: rgba(234,46,73,1);
}

.success .cardHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: rgba(100,205,138,1);
}
.error .cardHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: rgba(234,46,73,1);
}
.cardDescription {
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}

.card .buttonContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.success .acceptButton {
  width: 180px;
  background-color:  rgba(100,205,138,1);
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}
.error .acceptButton {
  width: 180px;
  background-color: rgba(234,46,73,1);
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}



.declineButton:hover {
  background-color: #ebebeb;
  transition-duration: .2s;
}

.success .acceptButton:hover {
  background-color: rgb(73, 168, 108);
  transition-duration: .2s;
}
.error .acceptButton:hover {
  background-color: rgb(205, 36, 61);
  transition-duration: .2s;
}